
.content {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.figure-cart {
    margin-bottom: 0;
    max-width: 790px;
    width: 100%;
}
@media(max-width: 991px) {
    .content {
        align-items: flex-start; 
    }

   